<%- include('./layout/layout-start', {title: "Войти"}) %>

<div class="container d-flex justify-content-center flex-column mt-5">
  <p>
    <b>ID:</b> <%= user.id %><br />
    <b>Username:</b> <%= user.username %><br />
    <b>Name:</b> <%= user.displayName %><br />
    <% if (user.email) { %>
    <b>Email:</b> <%= user.email %><br />
    <% } %>
  </p>
  <a href="/api/user/logout">Выйти</a>
</div>


<%- include('./layout/layout-end') %>